* {
  margin: 0;
  padding: 0;
  margin-inline: 0;
  margin-block: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

html, body {
  overflow-x: hidden;
}

p {
  line-height: 24px;
}

#hero-description {
  padding: 0 15%;
  margin: 26px 0 50px 0;
}

picture source, picture img {
  overflow: hidden;
  height: 300px;
  width: auto;
}
